# Python dependencies for development (core, without heavyweight ML frameworks)
coverage != 6.3, != 6.3.*
datasets<4.0.0
hypothesis
mypy
pandas-stubs
pre-commit
psutil
pytest~=7.4
pytest-cov
requests
scipy
typing-extensions>=4.8.0
wget
matplotlib
pillow